@(employeeForm: play.api.data.Form[Employee])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

@import helper._

@main("Employee Registration") {

    <style>
        #box {
            border-style: inset;
            border-width: unset;
        }
    </style>


    <div  style="margin-left:-80%;margin-top:8%;">
        <b style="background-color: #c9f3c9;">@flash.get("success").getOrElse()</b><br><br>
        <b style="font-size:105%;">Enter the basic information of employee</b><br><br>

        @helper.form(action = routes.HomeController.createEmployee(), 'id -> "employeeFormID") {
        @CSRF.formField
        <table cellpadding="10">
            <th></th>
            <th></th>
            <tr>
                <td>@helper.inputText(employeeForm("name"), 'id -> "box", '_label -> "Name of Employee")</td>
                <td>@helper.input(employeeForm("age"), 'id -> "box", '_label -> "Age of Employee") { (id, age, value, args) =>
                    <input type="number" name="@age" id="@id" @toHtmlArgs(args)>
                    }
                </td>
            </tr>
            <tr>
                <td>@helper.inputText(employeeForm("project"), 'id -> "box", '_label -> "Project Name of Employee")</td>
                <td>@helper.inputText(employeeForm("client"), 'id -> "box", '_label -> "Client Name of Project")</td>
            </tr>
            <tr>
                <td>@helper.inputDate(employeeForm("joiningDate"), 'id -> "box", '_label -> "Joining Date of Employee")</td>
                <td></td>
            </tr>
        </table>

        <input type="submit" value="Register"/>
        }
    </div>
}