@(searchEmployeeForm: play.api.data.Form[(String, String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Welcome to Play") {

    <style>
        #searchEmployeeFormID {
            margin-left: 10%;
        }
    </style>

    <div style="margin-left:12%;margin-top:5%;">
        Enter an employee entity (<b>name, project or client</b>) and value to search an employee :<br><br>

        @helper.form(action = routes.HomeController.getEmployee(), 'id -> "searchEmployeeFormID") {
        @CSRF.formField
        @helper.inputText(searchEmployeeForm("key"))
        @helper.inputText(searchEmployeeForm("value"))

        <input type="submit" value="submit"/>
        }
    </div>
}