@(searchEmployeeForm: play.api.data.Form[(String, String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Employee Enquiry") {

    <style>
        #box {
            border-style: inset;
            border-width: unset;
        }
    </style>

    <div style="margin-left:-70%;margin-top:8%;">
        <b style="font-size:105%;">Enter an employee entity (<i>name, project or client</i>) and value to search an employee</b><br><br>

         <div>
             @helper.form(action = routes.HomeController.getEmployee(), 'id -> "searchEmployeeFormID") {
                 @CSRF.formField
                 @helper.select(searchEmployeeForm("key"),
                 helper.options("name"->"Employee Name", "project"->"Project Name", "client"->"Client Name"),
                 '_label -> "Select Field")
                 <!--@helper.inputText(searchEmployeeForm("key"), 'id -> "box", 'placeholder -> "Employee Name, Project or Client")-->
                 @helper.inputText(searchEmployeeForm("value"), 'id -> "box", '_label -> "Select Value")
                 <input type="submit" value="Search"/>
            }
         </div>


    </div>
}